.landing-container {
  background-image: url("../assets/Rectangle 95.svg");
  height: 100vh;
  width: 40%;
}
.landing-title {
  font-family: Inter;
  font-size: 27px;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.landing-text {
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
}
.landing-box-item {
  border: 1px #000 solid;
  padding: 10px;
  margin: 30px;
}
